@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.logo{
    font-weight: 900;
    font-family: Montserrat, helvetica;
    color: #2d3748;
    margin-top: 15px;
    display: inline-block;
}
.font-sans{
    font-family: 'Open sans', helvetica;
    font-weight: 300;
}
.emblem{
    max-width: 300px;
    max-height: 300px;
}
